---
layout: default
---

{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}

<!-- Set up the transparent black background for the title -->
{% if page.title_color_bg == 'black' %}
	<script>
		window.onload = function () {
			let p = document.getElementsByClassName("title is-2")[0].parentElement;
			p.style.background = "rgba(10, 10, 10, 0.5)";
			p.style.borderRadius = "20px";
			p.style.padding = "20px";
			p.style.width = "fit-content";
			p.style.margin = "0px";
		}

		let p = document.getElementsByClassName("title is-2")[0].parentElement;
		p.style.background = "rgba(10, 10, 10, 0.5)";
		p.style.borderRadius = "20px";
		p.style.padding = "20px";
		p.style.width = "fit-content";
		p.style.margin = "0px";
	</script>
{% endif %}

<div class="content">

	<style>
		.csl-block {
		  font-size: 16px;
		}

		.csl-title, .csl-author, .csl-event, .csl-editor, .csl-venue {
		  display: block;
		  position: relative;
		  font-size: 15px;
		}

		.csl-title b {
		  font-weight: 600;
		}

		.csl-content {
		  display: inline-block;
		  vertical-align: top;
		  padding-left: 20px;
		  max-width: 95%;
		}

		.bibliography {
		   list-style-type: none;
		}
	</style>

    {{ content }}
</div>