---
layout: default
show_sidebar: false
---

<h1 style="font-size:35px;">Government & Academy</h1>

<div class="columns is-multiline">
  <div class="column is-12">
    {{ page.content }}
  </div>

  {% assign sorted_products = site.sponsors | where:"category","government" %}
  {% for product in sorted_products %}
  <div class="column is-3-desktop is-6-tablet">

      <div class="card">

        {% if product.image %}
        <div style="height: 200px;">
          <img src="{{ product.image }}" alt="{{ product.title }}" style="object-fit: contain; height: 100%;">
        </div>
        {% endif %}

        <div class="card-content">
        <p class="title is-6">{{ product.title }}</h2>
        </div>

      </div>
  </div>
{% endfor %}
</div>

<h1 style="font-size:35px;">Industry & Others</h1>

<div class="columns is-multiline">
  <div class="column is-12">
    {{ page.content }}
  </div>

  {% assign sorted_products = site.sponsors | where:"category","industry" %}
  {% for product in sorted_products %}
  <div class="column is-3-desktop is-6-tablet">

      <div class="card">

        {% if product.image %}
        <div style="height: 200px;">
          <img src="{{ product.image }}" alt="{{ product.title }}" style="object-fit: contain; height: 100%;">
        </div>
        {% endif %}

        <div class="card-content">
          <p class="title is-6">{{ product.title }}</h2>
        </div>
      </div>
  </div>
{% endfor %}
</div>
